@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ededed;
  --neon-cyan: #00FFFF;
  --neon-green: #00FF41;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-neon-cyan: var(--neon-cyan);
  --color-neon-green: var(--neon-green);
  --font-sans: var(--font-space-grotesk);
  --font-mono: var(--font-jetbrains-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Custom Utilities */
.grid-bg {
  background-size: 50px 50px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
                    linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
}

/* DatePicker Overrides for Cyberpunk Theme */
.react-datepicker {
  background-color: #0a0a0a !important;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
  font-family: var(--font-mono) !important;
  color: #fff !important;
}

.react-datepicker__header {
  background-color: #050505 !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header {
  color: #fff !important;
}

.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
  color: #ccc !important;
}

.react-datepicker__day:hover, .react-datepicker__month-text:hover, .react-datepicker__quarter-text:hover, .react-datepicker__year-text:hover {
  background-color: rgba(0, 255, 65, 0.2) !important;
  color: #fff !important;
}

.react-datepicker__day--selected, .react-datepicker__day--keyboard-selected {
  background-color: var(--neon-cyan) !important;
  color: #000 !important;
  font-weight: bold;
}

.react-datepicker__time-container {
  border-left: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.react-datepicker__time-container .react-datepicker__time {
  background-color: #0a0a0a !important;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item {
  color: #ccc !important;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item:hover {
  background-color: rgba(0, 255, 65, 0.2) !important;
  color: #fff !important;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected {
  background-color: var(--neon-cyan) !important;
  color: #000 !important;
}
